@import "tailwindcss";

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  --bar-transition: transform 0.2s ease, width 0.2s ease, opacity 1s ease;
  --bar-height: clamp(26px, 4.9vh, 6vh);
  --timeline-transition: transform 0.2s ease;
}

html,
body {
  overflow: hidden;
  line-height: 1.15;

  -webkit-text-size-adjust: 100%;
}

body {
  background: #000;
  color: #fff;
  font-family: "Geist", sans-serif;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

p {
  font-size: 12px;
  font-weight: 400;
}

button {
  position: relative;
  cursor: pointer;
}
button:hover::after,
button.active::after {
  content: " ";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.1);
}
button * {
  color: rgba(255, 255, 255, 0.8);
}
button:hover * {
  color: #fff;
}
button.active * {
  color: #fff;
  font-weight: 600;
}

.drag-handle:hover::after {
  content: " ";
  position: absolute;
  width: calc(100% - 14px);
  height: calc(100% - 14px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff80;
  border-radius: 1px;
}
